/* ==========================================================================
   Get options
   ========================================================================== */
/* ==========================================================================
   Vars
   ========================================================================== */
/* ==========================================================================
   Queries
   ========================================================================== */
/* ==========================================================================
   Block width
   ========================================================================== */
/* Regular content width.
/* Add 27px to match paragraph width on front-end and editor.
---------------------------------------------------------------------------- */
.wp-block {
  max-width: calc(806px); }

/* ==========================================================================
   Alignment
   ========================================================================== */
/* Width of "wide" blocks
/* 1062px + 30px so wide images match width in front-end and editor.
/* 1062px = default column width of 702px + .alignwide negative margin of 360px
---------------------------------------------------------------------------- */
.wp-block[data-align="wide"] {
  max-width: calc(1200px + 30px); }

.wp-block[data-align="full"] {
  max-width: none; }

/* ==========================================================================
   Captions
   ========================================================================== */
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
  color: #666;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 10px; }

/* ==========================================================================
   Lists in the editor
   ========================================================================== */
ul.rich-text,
ol.rich-text {
  padding-left: 40px; }

/* ==========================================================================
   Includes
   ========================================================================== */
/* ==========================================================================
   Headings
   ========================================================================== */
h1, .editor-post-title__block .editor-post-title__input,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 0 0 20px;
  clear: both;
  color: var(--primary); }
  @media (max-width: 960px) {
    h1 br, .editor-post-title__block .editor-post-title__input br,
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
      display: none; } }

h1, .editor-post-title__block .editor-post-title__input {
  font-size: 60px; }
  @media (min-width: 600px) and (max-width: 960px) {
    h1, .editor-post-title__block .editor-post-title__input {
      font-size: 50px; } }
  @media (max-width: 600px) {
    h1, .editor-post-title__block .editor-post-title__input {
      font-size: 40px; } }

h2 {
  font-size: 35px; }
  @media (min-width: 600px) and (max-width: 960px) {
    h2 {
      font-size: 30px; } }
  @media (max-width: 600px) {
    h2 {
      font-size: 25px; } }

h3 {
  font-size: 20px; }

h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary); }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* ==========================================================================
   Kicker headings
   ========================================================================== */
.gutenberg-section .content-wrap > h3:first-child,
.gutenberg-section .content-wrap > h4:first-child {
  margin-bottom: 0; }

/* ==========================================================================
   Titles
   ========================================================================== */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

h2.entry-title {
  font-size: 30px;
  margin-bottom: 10px; }

.entry-title a,
.sidebar .widget-title a {
  text-decoration: none; }

.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; }

.button, .wp-block-buttons .wp-block-button .wp-block-button__link, .wp-block-file .wp-block-file__button,
.gform_wrapper .gform_footer .gform_button.button,
.gform_wrapper .gform_footer .wp-block-buttons .wp-block-button .gform_button.wp-block-button__link,
.wp-block-buttons .wp-block-button .gform_wrapper .gform_footer .gform_button.wp-block-button__link,
.gform_wrapper .gform_footer .wp-block-file .gform_button.wp-block-file__button,
.wp-block-file .gform_wrapper .gform_footer .gform_button.wp-block-file__button {
  color: white;
  text-transform: uppercase;
  background-color: var(--link);
  font-size: 14px;
  padding: 15px 20px;
  line-height: 1em;
  position: static;
  transition: .3s all ease;
  border: 2px solid var(--link);
  border-radius: 3px;
  text-decoration: none !important;
  display: inline-block; }
  .button:hover, .wp-block-buttons .wp-block-button .wp-block-button__link:hover, .wp-block-file .wp-block-file__button:hover,
  .gform_wrapper .gform_footer .gform_button.button:hover,
  .gform_wrapper .gform_footer .wp-block-buttons .wp-block-button .gform_button.wp-block-button__link:hover,
  .wp-block-buttons .wp-block-button .gform_wrapper .gform_footer .gform_button.wp-block-button__link:hover,
  .gform_wrapper .gform_footer .wp-block-file .gform_button.wp-block-file__button:hover,
  .wp-block-file .gform_wrapper .gform_footer .gform_button.wp-block-file__button:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white; }
  @media (max-width: 600px) {
    .button, .wp-block-buttons .wp-block-button .wp-block-button__link, .wp-block-file .wp-block-file__button,
    .gform_wrapper .gform_footer .gform_button.button,
    .gform_wrapper .gform_footer .wp-block-buttons .wp-block-button .gform_button.wp-block-button__link,
    .wp-block-buttons .wp-block-button .gform_wrapper .gform_footer .gform_button.wp-block-button__link,
    .gform_wrapper .gform_footer .wp-block-file .gform_button.wp-block-file__button,
    .wp-block-file .gform_wrapper .gform_footer .gform_button.wp-block-file__button {
      text-align: center;
      display: block;
      width: 100%; } }

/* ==========================================================================
   Font
   ========================================================================== */
@media (max-width: 600px) {
  p br,
  ul br {
    display: none; } }

/* ==========================================================================
   General typeography
   ========================================================================== */
li {
  font-size: 18px; }
  @media (max-width: 600px) {
    li {
      font-size: 16px; } }

ol,
ul {
  margin: 0;
  padding: 0; }

hr {
  border: none;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 30px auto;
  width: 100%; }

b,
strong {
  font-weight: 700; }

mark {
  background: #ddd;
  color: #333; }

/* ==========================================================================
   Text alignment 
   ========================================================================== */
@media (max-width: 600px) {
  .has-text-align-center,
  .has-text-align-right,
  .alignright,
  .aligncenter {
    float: none;
    text-align: left; } }

/* ==========================================================================
   Font sizes
   ========================================================================== */
p {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  line-height: 1.3em; }
  @media (max-width: 600px) {
    p {
      font-size: 16px; } }

p.has-small-font-size {
  font-size: 13px; }

p.has-regular-font-size {
  font-size: 18px; }
  @media (max-width: 600px) {
    p.has-regular-font-size {
      font-size: 14px; } }

p.has-large-font-size {
  font-size: 22px; }
  @media (max-width: 600px) {
    p.has-large-font-size {
      font-size: 18px; } }

p.has-larger-font-size {
  font-size: 26px; }
  @media (max-width: 600px) {
    p.has-larger-font-size {
      font-size: 20px; } }

/* ==========================================================================
   Drop caps
   ========================================================================== */
p.has-drop-cap:not(:focus)::first-letter {
  margin: 0.02em 0.08em 0 -0.08em; }

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
  margin-right: 0.01em; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  color: var(--link);
  text-decoration: underline;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }

a:focus,
a:hover {
  color: var(--link); }

p.has-text-color a,
p.has-background a {
  color: inherit; }

p.has-text-color a:focus,
p.has-background a:focus,
p.has-text-color a:hover,
p.has-background a:hover {
  color: inherit;
  text-decoration: none; }

p.has-background.light-text a {
  color: #fff;
  text-decoration: underline; }

/* ==========================================================================
   Background colors
   ========================================================================== */
.has-background:not(.block-editor-rich-text__editable),
p.has-background {
  padding: 25px 30px;
  margin-bottom: 20px; }

.has-background :last-child {
  margin-bottom: 0; }

.has-background.box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

/* ==========================================================================
   Alignment
   ========================================================================== */
.wp-block[data-align="center"] .wp-block-buttons .wp-block-button {
  margin: 4px; }

.wp-block[data-align="right"] .wp-block-buttons .wp-block-button {
  margin: 4px 0 4px 4px; }

.wp-block[data-align="left"] .wp-block-buttons .wp-block-button {
  margin: 4px 4px 4px 0; }

/* ==========================================================================
   Main styles
   ========================================================================== */
.wp-block-buttons {
  margin-bottom: 20px; }
  .wp-block-buttons:last-child {
    margin-bottom: 0; }
  .wp-block-buttons .wp-block-button {
    margin: 4px 4px 4px 0; }
    @media (max-width: 600px) {
      .wp-block-buttons .wp-block-button {
        display: block;
        width: 100%; } }
    @media (max-width: 600px) {
      .wp-block-buttons .wp-block-button .wp-block-button__link {
        text-align: center;
        display: block;
        width: 100%; } }

.wp-block-categories,
.wp-block-categories ol,
.wp-block-categories ul {
  margin-left: 0;
  padding-left: 0; }

.wp-block-categories li {
  list-style-type: none; }

.wp-block-categories.aligncenter {
  text-align: center; }

.wp-block-categories-list.alignfull {
  padding: 0 30px; }

@media (max-width: 600px) {
  .wp-block-columns {
    margin-bottom: 0; } }

.wp-block-columns .wp-block-column > :last-child:not(.block-list-appender) {
  margin-bottom: 0; }

@media (max-width: 600px) {
  .wp-block-columns .wp-block-column {
    margin-bottom: 30px; } }

.entry-content .wp-block-columns:last-child {
  margin-bottom: -50px; }
  @media (max-width: 600px) {
    .entry-content .wp-block-columns:last-child {
      margin-bottom: 0; } }

@media (min-width: 960px) {
  .wp-block-column:not(:first-child) {
    margin-left: 60px; } }

/* ==========================================================================
   Image alignment defaults
   ========================================================================== */
.wp-block-columns .wp-block-image {
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 600px) {
    .wp-block-columns .wp-block-image {
      margin-left: 0; } }

/* ==========================================================================
   Align full
   ========================================================================== */
.wp-block-cover.alignfull {
  width: 100vw; }
  .wp-block-cover.alignfull .wp-block-cover__inner-container {
    max-width: 1200px; }

/* ==========================================================================
   Defaults
   ========================================================================== */
@media (max-width: 960px) {
  .wp-block-cover {
    min-height: auto; } }

@media (max-width: 960px) {
  .wp-block-cover .wp-block-cover__inner-container {
    width: 100%;
    padding: 30px;
    max-width: 1200px; } }

.wp-block-cover .wp-block-cover__inner-container :last-child {
  margin-bottom: 0; }

/* ==========================================================================
   .full-height
   ========================================================================== */
@media (min-width: 960px) {
  .wp-block-cover.full-height {
    min-height: 100vh; } }

.wp-block-file {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 15px; }
  .wp-block-file a {
    order: 1;
    text-decoration: none; }
  .wp-block-file a:not(.wp-block-file__button) {
    color: var(--link);
    pointer-events: none; }
  .wp-block-file .wp-block-file__button {
    margin: 0 15px 0 0;
    order: 0; }

.wp-block-gallery {
  margin-bottom: 15px; }
  .wp-block-gallery ul.blocks-gallery-grid {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0; }
  .wp-block-gallery:first-child ul.blocks-gallery-grid {
    padding-top: 0; }
  .wp-block-gallery .blocks-gallery-item figcaption {
    text-align: center;
    color: white; }
  .wp-block-gallery figcaption {
    color: #666;
    font-size: 14px;
    font-style: italic;
    margin-top: -5px;
    text-align: left;
    display: block; }
    .wp-block-gallery figcaption a {
      color: white; }

.wp-block[data-type="core/heading"] {
  clear: both; }

/* ==========================================================================
   Headings used in the context of entry content
   ========================================================================== */
.entry-content > h2,
.entry-content > h3,
.entry-content > h4,
.block-editor-block-list__layout.is-root-container > h2,
.block-editor-block-list__layout.is-root-container > h3,
.block-editor-block-list__layout.is-root-container > h4 {
  margin-top: 50px; }
  .entry-content > h2:first-child,
  .entry-content > h3:first-child,
  .entry-content > h4:first-child,
  .block-editor-block-list__layout.is-root-container > h2:first-child,
  .block-editor-block-list__layout.is-root-container > h3:first-child,
  .block-editor-block-list__layout.is-root-container > h4:first-child {
    margin-top: 0; }

.entry-content .wp-block-spacer + h2,
.entry-content .wp-block-spacer + h3,
.entry-content .wp-block-spacer + h4,
.block-editor-block-list__layout.is-root-container .wp-block-spacer + h2,
.block-editor-block-list__layout.is-root-container .wp-block-spacer + h3,
.block-editor-block-list__layout.is-root-container .wp-block-spacer + h4 {
  margin-top: 0; }

.wp-block-separator.is-style-default {
  max-width: 100px; }

figure.wp-block-image {
  margin-bottom: 1.2em; }
  figure.wp-block-image:last-child {
    margin-bottom: 0; }
  figure.wp-block-image figcaption {
    color: #666;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left; }

/* ==========================================================================
   Padding top so that it better lines up with text in alignleft and alignright situations
   ========================================================================== */
.entry-content > .wp-block-image figure.alignleft,
.entry-content > .wp-block-image figure.alignright {
  padding-top: 0.4em; }
  @media (min-width: 600px) and (max-width: 960px) {
    .entry-content > .wp-block-image figure.alignleft,
    .entry-content > .wp-block-image figure.alignright {
      max-width: 50%;
      height: auto !important; } }
  @media (max-width: 600px) {
    .entry-content > .wp-block-image figure.alignleft,
    .entry-content > .wp-block-image figure.alignright {
      width: 100%; }
      .entry-content > .wp-block-image figure.alignleft img,
      .entry-content > .wp-block-image figure.alignright img {
        width: 100%; } }

/* ==========================================================================
   Rounded
   ========================================================================== */
.is-style-circle-mask img,
.is-style-rounded img {
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.12); }

.wp-block-latest-posts {
  clear: both;
  margin-left: 0; }

.wp-block-latest-posts li {
  list-style-type: none; }

.wp-block-latest-posts.aligncenter {
  text-align: center; }

.wp-block-latest-posts.alignfull {
  padding: 0 30px; }

.entry-content ol:not([class]):not([class=""]),
.entry-content ul:not([class]):not([class=""]),
.block-editor-block-list__layout ol:not([class]):not([class=""]),
.block-editor-block-list__layout ul:not([class]):not([class=""]) {
  margin-bottom: 20px;
  padding-left: 40px; }
  .entry-content ol:not([class]):not([class=""]) ol,
  .entry-content ol:not([class]):not([class=""]) ul,
  .entry-content ul:not([class]):not([class=""]) ol,
  .entry-content ul:not([class]):not([class=""]) ul,
  .block-editor-block-list__layout ol:not([class]):not([class=""]) ol,
  .block-editor-block-list__layout ol:not([class]):not([class=""]) ul,
  .block-editor-block-list__layout ul:not([class]):not([class=""]) ol,
  .block-editor-block-list__layout ul:not([class]):not([class=""]) ul {
    margin-bottom: 0; }

.block-editor-block-list__block {
  margin-bottom: 20px; }

/* ==========================================================================
   Mobile padding
   ========================================================================== */
@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__content,
  .wp-block-media-text .wp-block-media-content__text {
    padding: 0; } }

@media (max-width: 600px) {
  .wp-block-media-text > figure > img {
    width: auto; } }

[data-type="core/spacer"] {
  background-color: #f0f0f0; }

@media (max-width: 600px) {
  .wp-block-spacer {
    max-height: 30px; } }

@media (min-width: 960px) {
  .elodin-section.alignfull {
    padding-top: 15%;
    padding-bottom: 15%; } }

/* ==========================================================================
   The amenities expanding functionality
   ========================================================================== */
.wp-block-columns ul:not(.gform_fields) {
  padding-left: 0 !important;
  margin-left: 0; }
  .wp-block-columns ul:not(.gform_fields) li {
    list-style: none;
    letter-spacing: 0.05em;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 1.2em;
    display: none; }
  .wp-block-columns ul:not(.gform_fields).showall li {
    display: block !important; }

.wp-block-columns ul:not(.gform_fields) li:nth-of-type(1), .wp-block-columns ul:not(.gform_fields) li:nth-of-type(2), .wp-block-columns ul:not(.gform_fields) li:nth-of-type(3), .wp-block-columns ul:not(.gform_fields) li:nth-of-type(4) {
  display: block; }

.inner-add-margin, body.first-block-is-section .entry-content > :first-child.wp-block-cover > .wp-block-cover__inner-container, body.first-block-is-section .entry-content > :first-child.elodin-section > .section-content, body.first-block-is-section .entry-content > :first-child.gutenberg-section .content-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-genesis-blocks-gb-container > .gb-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-genesis-blocks-gb-columns > .gb-layout-column-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-container > .ab-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-columns > .ab-layout-column-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-getwid-section > .wp-block-getwid-section__wrapper > .wp-block-getwid-section__inner-wrapper, body.first-block-is-section .entry-content > :first-child.wp-block-uagb-section > .uagb-section__inner-wrap {
  margin-top: 90px; }
  @media (min-width: 600px) and (max-width: 960px) {
    .inner-add-margin, body.first-block-is-section .entry-content > :first-child.wp-block-cover > .wp-block-cover__inner-container, body.first-block-is-section .entry-content > :first-child.elodin-section > .section-content, body.first-block-is-section .entry-content > :first-child.gutenberg-section .content-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-genesis-blocks-gb-container > .gb-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-genesis-blocks-gb-columns > .gb-layout-column-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-container > .ab-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-columns > .ab-layout-column-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-getwid-section > .wp-block-getwid-section__wrapper > .wp-block-getwid-section__inner-wrapper, body.first-block-is-section .entry-content > :first-child.wp-block-uagb-section > .uagb-section__inner-wrap {
      margin-top: 70px; } }
  @media (max-width: 600px) {
    .inner-add-margin, body.first-block-is-section .entry-content > :first-child.wp-block-cover > .wp-block-cover__inner-container, body.first-block-is-section .entry-content > :first-child.elodin-section > .section-content, body.first-block-is-section .entry-content > :first-child.gutenberg-section .content-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-genesis-blocks-gb-container > .gb-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-genesis-blocks-gb-columns > .gb-layout-column-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-container > .ab-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-columns > .ab-layout-column-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-getwid-section > .wp-block-getwid-section__wrapper > .wp-block-getwid-section__inner-wrapper, body.first-block-is-section .entry-content > :first-child.wp-block-uagb-section > .uagb-section__inner-wrap {
      margin-top: 70px; } }

body.first-block-is-section .site-inner {
  margin-top: 0 !important; }

@media (min-width: 960px) {
  body.first-block-is-section .entry-content > :first-child.gutenberg-section {
    padding-top: 10vh;
    padding-bottom: 10vh; } }

@media (min-width: 1200px) {
  body.first-block-is-section .entry-content > :first-child.gutenberg-section {
    padding-top: 15vh;
    padding-bottom: 15vh; } }

body.last-block-is-section .content > .entry {
  margin-bottom: 0; }
