/* ==========================================================================
   Footer widgets
   ========================================================================== */

.footer-widgets {
    background-color: white;
    clear: both;
    padding: 60px 0;

    @include notdesktop {
        text-align: left;
        padding: 15px 30px;
    }

    .widget {
        margin: 30px 0;

        :last-child {
            margin-bottom: 0;
        }
    }


    >.wrap {
        margin: 0 auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: calc(#{$defaultcontentwidth} + 60px);

        @include tablet {
            flex-flow: row wrap;
        }

        @include mobile {
            flex-flow: column;
        }
    }

    .footer-widget-area {
        width: 100%;
        margin: 0 30px;

        @include mobile {
            margin: 0;
        }
    }

    .footer-widget-area:last-child,
    .footer-widgets .widget:last-child {
        margin-bottom: 0;
    }

    .footer-widget-area:last-child {
        @include desktop {
            text-align: right;
        }
    }

    .widget:last-child {
        margin-bottom: 0;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;

        li {
            width: 50%;
            list-style: none;


        }
    }

    a {
        text-decoration: none;

        &:hover {
            color: var(--primary);
        }
    }
}

/* ==========================================================================
   Prefooter
   ========================================================================== */

.above-footer {
    text-align: center;
    padding: 75px 0;

    @include mobile {
        text-align: left;
        padding: 30px;
    }

    h2 {
        color: white;
    }

    p {
        color: white;
    }

    .wrap {
        max-width: 800px;
        margin: 0 auto;
    }

    :last-child {
        margin-bottom: 0;
    }

}

/* ==========================================================================
   Site footer
   ========================================================================== */

.site-footer {
    background-color: #fff;
    padding: 30px;
    border-top: 1px solid rgba(black, 0.07);
    font-size: 14px;
    color: var(--default);

    .wrap {
        max-width: $defaultcontentwidth;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        color: var(--default);
    }
}

/* ==========================================================================
   Footer nav
   ========================================================================== */


.nav-secondary {
    text-align: center;

    .menu-item {
        display: inline-block;
    }
}