/* ==========================================================================
   Wrappers
   ========================================================================== */

body {
    transition: .3s padding-top ease;
}

.preheader {
    position: fixed;
    width: 100%;
    padding: 15px;
    max-width: 100%;
    background-color: var(--primary);
    transition: .3s all ease;
    transform: translateY(-100%);
    z-index: 99;

    // &:not(.active) {
    // }

    .wrap {
        max-width: $defaultcontentwidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-flow: column;
        }

        @media(min-width: 960px) and (max-width: 1530px) {
            max-width: 100%;
            padding: 0 !important;
        }

        .widget {
            margin: 0 auto;
            min-width: 200px;

            p {
                font-size: 16px;
                line-height: 1.2em;
                color: white;
            }

            @include notmobile {
                max-width: 50%;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    text-align: right;
                    margin-right: 0;
                }

                &:first-child:last-child {
                    text-align: left;
                    margin-right: auto;
                    margin-left: 0;
                    max-width: 100%;
                    width: 100%;
                }
            }

            @include mobile {
                margin-bottom: 15px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .widget-title {
                margin-bottom: 5px;
            }

            :last-child {
                margin-bottom: 0;
            }


        }
    }
}

.site-header {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 0;
    transition: .3s all ease;
    width: 100%;
    position: fixed;
    z-index: 50;

    // @include notdesktop {
    //     position: absolute;
    // }

    >.wrap {
        max-width: $defaultcontentwidth;
        margin: 0 auto;
        // padding: 0 0 0 20px;

        @include mobile {
            padding: 0 10px;
        }

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include notdesktop {
            display: block;
        }

        .title-area,
        .nav-primary,
        .menu-toggle {
            @include desktop {
                flex: 0 1 auto;
            }
        }

        .title-area {
            @include desktop {
                margin-right: auto;
                flex: 0 1 auto;
            }


            @include notdesktop {
                float: left;
                max-width: 180px;
                position: absolute;
            }
        }

        .nav-primary {
            @include desktop {
                margin-left: auto;
                flex: 0 1 auto;
                clear: none;
                width: auto;
            }


            @include notdesktop {
                clear: left;
                width: 100%;
            }
        }

        .menu-toggle {
            flex: 0 1 auto;
            margin-left: auto;
            margin-right: 0;
        }
    }
}

/* ==========================================================================
   Title area
   ========================================================================== */

.site-header {
    .title-area {
        padding-bottom: 20px;
        padding-top: 20px;
        transition: .3s all ease;

        img.custom-logo {
            transition: .3s all ease;
            width: 100%;
            margin: 0 auto;
            display: block;

            @include notdesktop {
                max-height: 66px;
                margin-left: 0;
                text-align: left;
            }
        }
    }
}

.wp-custom-logo .title-area {
    width: 100%;

    @include notdesktop {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;

        img {
            margin-left: 0;

            // max-width: 130px;

        }
    }
}

.wp-custom-logo .title-area img {
    width: auto;
}

.site-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
    color: #333;
    text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.nav-primary {
    clear: left;
    width: 100%;
}

/* ==========================================================================
   Scrolled
   ========================================================================== */

.site-header.header-scrolled {
    background: white;
    box-shadow: 0 0 20px 0 rgba(black, 0.15);

    .preheader {
        display: none;
    }
}

/* ==========================================================================
   Lease now button
   ========================================================================== */

@media(min-width: 1530px) {
    .menu-primary {
        >li:last-child {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

@media(min-width: 960px) and (max-width: 1530px) {
    .site-header {
        padding-left: 20px;

        >.wrap {
            max-width: 100%;
            padding: 0 !important;
        }
    }
}