h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat';
    font-weight: 500;
}

h1,
h2 {
    font-weight: 700;
}

p,
li {
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 1.5em;
}

.button,
.wp-block-button__link {
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.05em;
}

.genesis-nav-menu>li>a {
    font-weight: bold;
    font-family: 'Montserrat';
}

.genesis-nav-menu>li:last-child>a {
    text-transform: uppercase;
}